:root {
    --color-gradient: ;
}

@keyframes animatio {
    0%      {transform: scale(1,1);}
    50%     {transform: scale(10,10);}
    100%    {transform: scale(1,1);}
}


body {
    font-family: "Sofia", cursive;
    font-style: italic;
    font-variant: small-caps;
    font-size: 1vw ;
    background-image: radial-gradient(circle,var(--color-gradient));
}

.animation:hover {
    animation-timing-function: linear;
    animation-name: animatio;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
